body {
    font-family: sans-serif;
    max-width: 700px;
    margin: 0 auto;
    padding: 24px;
    line-height: 1.6;
    background:ivory;
}

h1 {
    margin-bottom: 24px;
}

h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}

div {
    margin-bottom: 16px;
}

button {
    padding: 10px 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    border: none;

}

button:hover {
    opacity: 0.85;
}

.section {
    transition: 0.3s;
}

#hand-selection,
#action-selection {
    margin-bottom: 20px;

}

#next-button,
#next-round-button,
#restart-button {
    background-color:#FEEA00;
    padding: 12px 20px;
    font-weight: bold;
    color:rgb(58, 56, 56);
}

#result-area {
    margin-top: 20px;
}

#result-message,
#damage-message,
#final-message {
    padding: 12px;
    border: none;
    margin-bottom: 12px;
    min-height: 24px;

}

#final-message {
    font-weight: bold;
}

.hand-button,
.action-button {
    border: none;
    background: none;
    padding: 0;
    margin-right: 12px;
    cursor: pointer;
}

.hand-button img,
.action-button img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.hand-button:hover img,
.action-button:hover img {
    opacity: 0.8;
}

#result-hands {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 16px;
}

.result-character {
    display: flex;
    align-items: center;
    gap: 10px;
}

.result-character p {
    margin: 0;
    min-width: 70px;
}

.result-character img[src=""] {
    display: none;
}

.result-character img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: none ;
    padding: 0px ;
}

.action-icon {
    width: 40px !important;
    height: 40px !important;
    border: none !important;
}